.about-section {
  text-align: justify;
}

.about {
  text-align: center;
}
.section-container {
  text-align: center;
}

.heading {
  margin: 44px 0px;
}

.member-container {
  padding: 44px;
}

.name {
  font-size: 28px;
  font-weight: 600;
  color: black;
}
.career {
  font-weight: 500;
  color: #53c0e9;
}

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 0px 20px 20px 20px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  border: 5px solid #005a9d;
  box-sizing: border-box;
  filter: drop-shadow(0px 40px 20px rgba(13, 102, 134, 0.12));
  margin-top: 12px;;
}

.avatar:hover {
  filter: none;
  transition: all 0.3s ease-in-out;
}

.details {
  text-align: left;
}


@media screen and (max-width: 992px) {}

@media screen and (max-width: 600px) {
  .avatar {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 750px) {}


