.feature-contianer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.feature-contianer .product-img {
  object-fit: scale-down;
  max-width: 100%;
  width: 800px;
}

.feature-list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 40px 40px;
  margin-top: 16px;
}

.feature-contianer .feature-list-container .icon {
  height: 28px;
  width: 28px;
}

.item {
  display: flex;
  align-content: center;
  align-items: center;
}

.feature-contianer .feature-list-container .item {
  display: flex;
  width: 40%;
}

.feature-contianer .feature-list-container .item span {
  align-items: center;
  font-weight: 600;
  margin-left: 16px;
  align-content: center;
}

.check-mark {
  width: 20px;
  padding-top: 8px;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 350px) {
  .feature-contianer .product-img {
    width: 1000px;
  }
  .feature-contianer .feature-list-container .item {
    width: 100%;
  }

  .feature-list-container {
    gap: 20px 40px;
    margin: 20px;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .feature-contianer .product-img {
    width: 800px;
  }
  .feature-contianer .feature-list-container .item {
    width: 40%;
  }

  .feature-list-container {
    gap: 40px 40px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}