.absolute-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.section-container {
  text-align: center;
  margin: 120px 0 40px 0;
}

.faq-container {
  margin: 32px 0;
  width: 100%;
}

.faq-container summary {
  font-size: 15px;
  color: #333;
  font-weight: 600;
  padding: 12px;
  margin-bottom: 1rem;
  text-align: left;
  cursor: pointer;
  position: relative;
  border: 1px solid #e0e0e0 !important;
  border-radius: 6px;
  transition: all 0.33s ease-in;
  width: 80%;
  margin: auto;
}

.faq-content {
  text-align: left;
  margin: auto;
  margin-top: 20px;
}

.faq-container summary:hover {
  transition: all 0.33s ease-in;
}

.faq-container summary:active {
  transition: all 0.33s ease-in;
}

.faq-container summary::after {
  position: absolute;
  content: "+";
  right: 20px;
  transition: all 0.33s ease-in;
}
.faq-row[open] > .faq-container summary::after {
  position: absolute;
  content: "-";
  right: 20px;
  font-size: large;
  transition: all 0.33s ease-in;
}

details > summary::-webkit-details-marker {
  display: none;
  transition: all 0.33s ease-in;
}

@media screen and (min-width: 300px) {
  .faq-container summary {
    width: 80%;
  }
  .faq-content {
    width: 80%;
  }
}

@media screen and (min-width: 600px) {
  .faq-container summary {
    width: 54%;
  }
  .faq-content {
    width: 54%;
  }
}
