.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 10rem 0;
}

.header-container .hero-title {
  height: 140px;
  display: flex;
  align-items: center;
}

.header-container .hero-img {
  height: 800px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 600px) {}

@media screen and (min-width: 750px) {}
