.collection-container {
  text-align: center;
}

.collection-container .subtitle {
  text-align: center;
  color: black;
  font-size: 24px;
}

.league-icon {
  height: 40px;
}

.league-icon-text {
  font-size: 24px;
}

.tab-panel-active {
  display: block;
}

.league-icon-collection {
  display: flex;
  justify-content: center;
  /* border: 1px solid rgba(0, 0, 0, 0.397); */
  border-radius: 8px;
  width: 100%;
}

/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tab-panel {
  display: none;
}

input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
   Styling
  */

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 32px 32px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #c5c9dd;
  border-radius: 4px;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: #005a9d;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #005a9d;
}

.tabset > input:checked + label {
  /* border-color: #ccc;
    border-bottom: 1px solid #fff; */
  margin-bottom: -1px;
}

.tabset {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 350px) {
  .tab {
    width: 50%;
  }

  .tabset > label::after {
    left: 35%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .tab {
    width: auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
